<p>create Person!</p>

<form [formGroup]="formularioRegistro" (ngSubmit)="onSubmit()">
  <div class="form-group cuadricula">

    <div>
      <label for="name" class="mt-3">Nombre(s)</label>
      <input type="text" formControlName="name" class="form-control" id="name" placeholder="Ingresa tus nombres">
    </div>

    <div>
      <label for="age" class="mt-3">Edad</label>
      <input type="number" formControlName="age" class="form-control" id="age" placeholder="Ingresa tu edad">
    </div>

  </div>

  <button type="submit" class="btn btn-primary mt-3" invalid="!formularioRegistro"> Guardar </button>

</form>