<p>create Person!</p>

<form>
    <div class="form-group ">
      <label for="name" class="mgn10top">Nombre(s)</label>
      <input type="text" class="form-control" id="name"  placeholder="Ingresa tus nombres">

      <label for="apellidoM" class="mgn10top">Apellido Materno</label>
      <input type="text" class="form-control" id="apellidoM"  placeholder="Ingresa tu apellido materno">

      <label for="apellidoP" class="mgn10top">Apellido Paterno</label>
      <input type="text" class="form-control" id="apellidoP"  placeholder="Ingresa tu apellido paterno">

      <label for="edad" class="mgn10top">Edad</label>
      <input type="text" class="form-control" id="edadP"  placeholder="Ingresa tu edad">

    </div>

    <button type="submit" class="btn btn-primary mgn30top"> Guardar </button>
  </form>
