<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of people;">
            <th scope="row">{{person.id_people}}</th>
            <td>{{person.name}}</td>
            <td>{{person.age}}</td>
            <td>{{person.bornDateTime}}</td>
            <td>
                <button type="button" class="btn btn-warning">Editar</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="deletePeopleById(person.id_people)">X</button>
            </td>
        </tr>
    </tbody>
</table>